PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://dascomsoft_db_user:c2prP0wb97cDgfbE@immobilier.1qoftyg.mongodb.net/?appName=immobilier

# JWT
JWT_SECRET=your_jwt_secret_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dctnt4h0e
CLOUDINARY_API_KEY=817975129196367
CLOUDINARY_API_SECRET=4KIecFKDf8-3Lj38A1HwKIwkBpE

# CORS
CORS_ORIGIN=http://localhost:3000

# Email (optionnel)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password# WhatsApp
ADMIN_WHATSAPP=+33712345678
NODE_ENV=development
